div.box {
    height: 220px;
    width: 220px;
    
    background-color: rgb(0, 0, 0);

    border-radius: 8px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

div.inpt label {
    font-family: Arial, Helvetica, sans-serif;
}


div.inpt input {
    margin-top: 20px;
    margin-bottom: 10px;

    width: 50px;
}


div.btn button {
    font-size: 16px;
    height: 30px;
    width: 80px;
}